{% extends 'templates/app.twig' %}


{% block content %}
<div class="login">
	<form method="post">
		<h1>Login</h1>


		<label>Username</label>
		<div>
			<input type="text" name="username" value="{{ old.username }}">
		</div>

		<label>Senha</label>
		<div>
			<input type="password" name="password">
		</div>


		{{ csrf.field | raw }}

		<div>
			<input type="submit" value="Logar">
		</div>
	</form>
</div>
{% endblock %}