
.footer {
	margin-top: 30px;
}

.keno .faixaPremiacoes table {
	border: 2px solid #CCC;
}
.keno .faixaPremiacoes table td {
	padding: 0 15px;
	text-align: center;
	border: 2px solid #CCC;
}
.keno .faixaPremiacoes table td.hit {
	background-color: green;
	color: white;
}

.keno .numeros table td {
	background-color: #CCC;
	border: 2px solid #CCC;
	padding: 10px;
	cursor: pointer;
}
.keno .numeros table td.sel {
	background-color: blue;
	border-color: blue;
	color: white;
}
.keno .numeros table td.selHit {
	background-color: green;
	color: white;
}
.keno .numeros table td.miss {
	border-color: black;
}

.keno .balls {
	margin-top: 15px;
}
.keno .balls span {
	display: none;
	background-color: black;
	color: #FFF;
	padding: 12px;
}
.keno .balls span.hit {
	background-color: green;
}

.keno .valor {
	margin-top: 20px;
}

.keno .action {
	margin-top: 10px;
}
.keno .action button {
	padding: 10px 15px;
}


#faixaPremiacoesTable td {
	padding: 3px 20px;
	text-align: center;
}

.keno .apostar {
	margin-top: 25px;
}

.keno .apostar button {
	padding: 10px 15px;
}