<nav>
	<ul>
		<li>
			<a href="{{ path_for('home') }}">Home</a>
		</li>
		<li>
			<a href="{{ path_for('auth.login') }}">Login</a>
		</li>
		<li>
			<a href="{{ path_for('auth.register') }}">Cadastro</a>
		</li>
		
	</ul>
</nav>